<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>
    <!-- <div th:replace="fragments/header :: header-css(pageTitle='page.title.admin')"/> -->
    <title>Spring Boot Thymeleaf + Spring Security</title>
</head>
<body>

<!-- <div th:replace="fragments/header :: header"/> -->

<div layout:fragment="content">

    <div class="starter-template">
        <h4 class="text-danger"><span class="glyphicon glyphicon-cog"></span> Application Entities Administration  <small><span class="glyphicon glyphicon-wrench" th:text="${#httpServletRequest.getParameter('entity')}" th:unless="${#httpServletRequest.getParameter('entity') == null}">Test</span></small></h4>        
                        
        <div id="create" th:if="${action} == 'create'">
            <div class="well">
                <div th:replace="fragments/admin/role_form :: role-form(entity='roles', action='create')"/>
            </div>
        </div>
        <div id="details" th:if="${action} == 'details'">
            <div class="well">
                <div th:replace="fragments/admin/role_details :: role-details(entity='roles', action='details')"/>
            </div>
        </div>
        <div id="edit" th:if="${action} == 'edit'">
            <div class="well">                
                <div th:replace="fragments/admin/role_form :: role-form(id=${id}, entity='roles', action='edit')"/>
            </div>
        </div>
        <div id="list" th:if="${action} == 'list'">
            <div class="well">
                <div th:replace="fragments/admin/roles :: roles(entity='roles', action='list')"/>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- <div th:replace="fragments/footer :: footer"/> -->

</body>
</html>