<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
<div th:replace="fragments/header :: header-css(pageTitle='page.title.user')" />
</head>
<body>

	<div th:replace="fragments/header :: header" />

	<div class="container">

		<div class="starter-template">
			<h4  class="text-primary"><span class="glyphicon glyphicon-cog"></span> <span th:text="#{page.header.user}">User page</span></h4>
			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title" ><span sec:authentication="name"></span> - <span th:text="#{userSummary}">User Summary</span></h3>
				</div>
				<div class="panel-body">
				        <address>
						  <strong th:text="#{mainAddress}">Main Address</strong><br/>
						  <span th:text="${user.person.addresses[0].street}"/> <span th:text="${user.person.addresses[0].buildingNumber}"/>/<span th:text="${user.person.addresses[0].appartment}"/><br/>
						  <span th:text="${user.person.addresses[0].postCode}"/> <span th:text="${user.person.addresses[0].city}"/><br/>
						  <span th:text="${user.person.addresses[0].district}"/>
						</address>
						
						<address>
						  <strong><span th:text="${user.person.firstName}"/> <span th:text="${user.person.lastName}"/></strong><br/>
						  <a href="mailto:#">first.last@example.com</a>						  
						</address>
				</div>
			</div>
	
			<table id="usersTable" dt:table="true" class="table table-bordered table-hover table-condensed">
			<caption th:text="#{user.data.caption}">User Data</caption>
        <thead>
            <tr>
                <th th:text="#{id}">Id</th>
                <th th:text="#{username}">Username</th>
                <th th:text="#{firstName}">First Name</th>
                <th th:text="#{lastName}">Last Name</th>                
                <th th:text="#{dateOfBirth}">Date Of Birth</th>
                <th th:text="#{encryptedPassword}">Encrypted Password</th>                
                <th th:text="#{actions}">Actions</th>               
            </tr>
        </thead>
        <tbody>
            <tr class="info" th:each="user : ${user}">
                <td th:text="${user?.id}">1</td>
                <td th:text="${user?.username}">1</td>
                <td th:text="${user.person?.firstName}">John</td>
                <td th:text="${user.person?.lastName}">Doe</td>
                <td th:text="${user.person?.dateOfBirth}">John</td>                
                <td th:text="${user?.password}">1</td>                
                <td><div class="btn-toolbar" role="toolbar" aria-label="...">
	                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
		                    <a href="#" class="btn btn-primary btn-xs" name="action" th:value="editUser" data-toggle="modal" data-target="#userModal" th:title="#{user.data.actions.tooltip.editUser}"><span class="glyphicon glyphicon-pencil"></span></a>
		                    <a href="#" class="btn btn-warning btn-xs" name="action" th:value="changePassword" data-toggle="modal" data-target="#userPasswordModal" th:title="#{user.data.actions.tooltip.changePassword}"><span class="glyphicon glyphicon-lock"></span></a>                            
                        </div>
                     </div>
                </td>                
            </tr>
        </tbody>        
</table>

<div th:if="${#fields.hasErrors('${userForm.*}')}">
    <table id="userErrorsTable" dt:table="true" class="table table-striped">
        <caption class="text-danger" th:text="#{user.validation.errors.caption}">User Validation Errors:</caption>
        <thead>
            <tr>
                <th th:text="#{user.validation.errors.severity}">Severity</th>
                <th th:text="#{user.validation.errors.field.label}">Field</th>
                <th th:text="#{user.validation.errors.field}">Field</th>
                <th th:text="#{user.validation.errors.rejectedValue}">Rejected Value</th>
                <th th:text="#{user.validation.errors.reason}">Reason</th>
            </tr>
        </thead>
        <tbody>
            <tr th:classappend="${e.severity == 'ERROR' ? 'danger' : 'warning'}" th:each="e : ${errors}">
                <td th:text="${e.severity}"></td>
                <td th:text="${e.global} ? ${e.objectName} : #{${e.fieldName}}"></td>
                <td th:text="${e.global} ? ${e.objectName} : ${e.fieldName}"></td>
                <td th:text="${e.value}"></td>
                <td th:text="#{${e.code}}"></td>
            </tr>
        </tbody>        
    </table>  
</div>

<div th:if="${successAction?.success}">
    <table id="userSuccessActionsTable" dt:table="true" class="table table-striped">
        <caption class="text-success" th:text="#{user.action.success.caption}">User Successfull Actions:</caption>
        <thead>
            <tr>                
                <th th:text="#{user.action.success.field.label}">Field</th>
                <th th:text="#{user.action.success.field}">Field</th>
                <th th:text="#{user.action.success.oldValue}">Old Value</th>
                <th th:text="#{user.action.success.newValue}">New Value</th>
                <th th:text="#{user.action.success.message}">Message</th>
            </tr>
        </thead>
        <tbody>
            <tr class="success" th:each="change : ${successAction.changes}">                
                <td th:text="#{${change.fieldName}}"></td>
                <td th:text="${change.fieldName}"></td>
                <td th:text="${change.oldValue}"></td>
                <td th:text="${change.newValue}"></td>
                <td th:text="#{${change.messageCode}}"></td>
            </tr>
        </tbody>        
    </table>  
</div>

<div id="userPasswordModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form th:action="@{/user(action='changePassword')}" method="post" th:object="${userForm}">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change User's Password:</h4>        
      </div>
      <div class="modal-body">
        
            <div class="form-group">
                <label for="oldPassword">Old Password</label>                
                <input type="password" class="form-control" id="oldPassword" placeholder="Old Password" th:field="*{oldPassword}" />                
                <label for="newPassword1">New Password</label>
                <input type="password" class="form-control" id="newPassword1" placeholder="New Password" th:field="*{newPassword1}" />
                <label for="newPassword2">Retype New Password</label>
                <input type="password" class="form-control" id="newPassword2" placeholder="Retype New Password" th:field="*{newPassword2}" />  
                <input type="hidden" class="form-control" id="username" th:field="*{username}" />             
            </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="userModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form th:action="@{/user(action='editUser')}" method="post" th:object="${userForm}">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit User</h4>
      </div>
      <div class="modal-body">
        
            <div class="form-group">                
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="First Name" th:field="*{firstName}" />
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" th:field="*{lastName}" />
                <label for="dateOfBirth">Last Name</label>
                <input type="text" class="form-control" id="dateOfBirth" placeholder="Date Of Birth" th:field="*{dateOfBirth}" />                
            </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<table id="userDetailsTable" dt:table="true" class="table table-bordered table-hover table-condensed">
<caption>User's Account Technical Details</caption>
        <thead>
            <tr>
                <th>Enabled</th>
                <th>Expired</th>
                <th>Locked</th>
                <th>Expires on</th>
                <th>Expired credentials</th>                
            </tr>
        </thead>
        <tbody>
            <tr class="info" th:each="user : ${user}">
                <td th:text="${user?.enabled}">1</td>
                <td th:text="${user?.accountExpired}">1</td>
                <td th:text="${user?.accountLocked}">1</td>
                <td th:text="${user?.expires}">1</td>    
                <td th:text="${user?.credentialsExpired}">1</td>                               
            </tr>
        </tbody>
</table>

<table id="authoritesTable" dt:table="true" class="table table-striped table-hover table-condensed" style="width: 30%;">
<caption>Authorities granted to User</caption>
        <thead>
            <tr>
                <th>Granted Authority</th>                             
            </tr>
        </thead>
        <tbody>
            <tr class="success text-center" th:each="authority : ${user.getAuthorities()}">
                <td th:text="${authority}">1</td>                                
            </tr>
        </tbody>
</table>

<span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Admin test</span>
<table id="rolesTable" dt:table="true" class="table table-bordered table-hover">
<caption>Roles assigned to User</caption>
        <thead>
            <tr>
                <th style="width: 3%">Id</th>
                <th style="width: 20%">Role Name</th>
                <th style="width: 20%">Authority</th>
                <th style="width: 36%">Description</th>          
                <th style="width: 12%">Valid To</th> 
                <th style="width: 12%">Valid From</th>
                <th style="width: 12%">Assigned by</th>
                <th style="width: 9%">Actions</th>               
            </tr>
        </thead>
        <tbody>
            <tr class="active" th:each="role : ${user.roles}">
                <td th:text="${role?.id}">1</td>
                <td th:text="${role.assignedRole?.name}">1</td>
                <td th:text="${role?.authority}">1</td>
                <td th:text="${role.assignedRole?.description}">Doe</td>
                <td th:text="${role?.validTo}">1</td>
                <td th:text="${role?.createdDate}">1</td>
                <td th:text="${role?.createdBy}">1</td>
                <td><div class="btn-toolbar" role="toolbar" aria-label="...">
                        <div class="btn-group btn-group-justified btn-group-xs" role="group" aria-label="...">
                            <a class="btn btn-primary btn-xs" th:href="@{/user?edit}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a class="btn btn-danger btn-xs" th:href="@{/user?remove}"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                     </div>
                </td>                
            </tr>
        </tbody>
</table>

<table id="addressesTable" dt:table="true" class="table">
<caption>User's Addresses</caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Address Type</th>
                <th>Street</th>
                <th>Building Number</th>
                <th>Appartment</th>
                <th>Post Code</th>
                <th>City</th>
                <th>District / Province</th>     
                <th>Actions</th>      
            </tr>
        </thead>
        <tbody>
            <tr th:each="address : ${user.person.addresses}">
                <td th:text="${address?.id}">1</td>
                <td th:text="${address?.type}">1</td>   
                <td th:text="${address?.street}">1</td>   
                <td th:text="${address?.buildingNumber}">1</td>   
                <td th:text="${address?.appartment}">1</td>   
                <td th:text="${address?.postCode}">1</td>   
                <td th:text="${address?.city}">1</td>   
                <td th:text="${address?.district}">1</td>   
                <td><div class="btn-toolbar" role="toolbar" aria-label="...">
                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                            <a class="btn btn-primary btn-xs" th:href="@{/user?edit}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a class="btn btn-danger btn-xs" th:href="@{/user?remove}"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                     </div>
                </td>                           
            </tr>
        </tbody>
</table>

<table id="auditTable" dt:table="true" class="table">
<caption>Audit Data</caption>
        <thead>
            <tr>
                <th>Created by</th>
                <th>Created date</th>
                <th>Last modified by</th>
                <th>Last modifification date</th>                             
            </tr>
        </thead>
        <tbody>
            <tr class="danger" th:each="user : ${user}">
                <td th:text="${user?.createdBy}">1</td>
                <td th:text="${user?.createdDate}">1</td>
                <td th:text="${user?.lastModifiedBy}">1</td>
                <td th:text="${user?.lastModifiedDate}">1</td>                             
            </tr>
        </tbody>
</table>
			
			

			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" />
			</form>

		</div>

	</div>
	<!-- /.container -->
	<div th:replace="fragments/footer :: footer" />
<script type="text/javascript">

</script>
</body>
</html>