<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
</head>
<body>
	<div th:id="${modalId}" class="modal fade" tabindex="-1" role="dialog" th:fragment="addressModal(modalId, form, action, modalTitle, type)">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form th:id="${form}" th:action="@{/user/address(action=${action})}" method="post" th:object="${addressForm}">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 id="personAddressModalTitle" class="modal-title" th:text="#{${modalTitle}}"></h4>
					</div>
					<div class="modal-body">
                        <div th:switch="${action}">
                            <div th:case="'edit'">
								<div class="form-group">
									<label for="street">Street</label> 
									<input type="text" class="form-control" id="street" placeholder="Street" th:field="*{street}" /> 
									<label for="buildingNumber">Building Number</label> 
									<input type="text" class="form-control"	id="buildingNumber" placeholder="Building Number" th:field="*{buildingNumber}" /> 
									<label for="appartment">Apartment</label>
									<input type="text" class="form-control" id="appartment"	placeholder="Appartment" th:field="*{appartment}" /> 
									<label for="postCode">Post Code</label> 
									<input type="text" class="form-control" id="postCode" placeholder="Post Code" th:field="*{postCode}" /> 
									<label for="city">City</label> 
									<input type="text" class="form-control" id="city" placeholder="City" th:field="*{city}" /> 
									<label for="district">District</label> 
									<input type="text" class="form-control" id="district" placeholder="District" th:field="*{district}" /> 
									<input type="hidden" class="form-control" id="id" th:field="*{id}" />
								</div>
							</div>	
							<div th:case="'add'">
                                <div class="form-group">
                                    <label for="addressTypes">Address Type</label>
                                    <div>
                                    <select class="form-control" aria-labelledby="addressTypes" th:field="*{type}">
                                        <option th:each="addressType : ${addressTypes}" th:value="${addressType}" th:text="${#messages.msg('dropdown.addressType.' + addressType.param)}"></option>
                                    </select>
                                    </div>                                    
                                    <label for="street">Street</label> 
                                    <input type="text" class="form-control" id="street" placeholder="Street"    th:field="*{street}" /> 
                                    <label for="buildingNumber">Building Number</label> 
                                    <input type="text" class="form-control" id="buildingNumber" placeholder="Building Number" th:field="*{buildingNumber}" /> 
                                    <label for="appartment">Apartment</label>
                                    <input type="text" class="form-control" id="appartment" placeholder="Appartment" th:field="*{appartment}" /> 
                                    <label for="postCode">Post Code</label> 
                                    <input type="text" class="form-control" id="postCode" placeholder="Post Code" th:field="*{postCode}" /> 
                                    <label for="city">City</label> 
                                    <input type="text" class="form-control" id="city" placeholder="City" th:field="*{city}" /> 
                                    <label for="district">District</label> 
                                    <input type="text" class="form-control" id="district" placeholder="District" th:field="*{district}" />                                    
                                </div>
							</div>						
                            <div th:case="'delete'">
	                            <p th:text="#{addressForm.delete.warning(*{type})}"></p>
	                            <div class="form-group">
	                                <input type="hidden" id="addressId" th:field="*{id}" th:value="${id}"/>
	                                <input type="hidden" id="addressType" th:field="*{type}" th:value="${type}"/>
	                            </div>
	                        </div>
                        </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="${action == 'edit' || action == 'add'} ? #{button.close} : #{button.cancel}">Close</button>
						<button type="submit" class="btn btn-primary" th:text="${action == 'edit' || action == 'add'} ? #{button.save} : #{button.delete}">Save changes</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	
</body>
</html>