<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer>
        <!-- this is footer -->        
        <i><span th:utext="#{footer.copyrights.sign}"></span> <span th:text="#{footer.copyrights.year}"></span> <b><span th:text="#{footer.organization}"></span></b></i>        
        <span sec:authorize="isAuthenticated()">
            <span th:utext="#{footer.separator}"></span>
            <span th:text="#{footer.loggedUser.label}"></span> <b><span sec:authentication="name" th:class="text-info"></span></b>
            <span th:utext="#{footer.separator}"></span>
            <span th:text="#{footer.roles.label}"></span> <b><span sec:authentication="principal.authorities" th:class="text-success"></span></b>            
        </span>

        <script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/webjars/momentjs/2.21.0/min/moment.min.js"></script>
        <script type="text/javascript" src="/webjars/momentjs/2.21.0/min/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="/js/user.js" />
        </footer>
    </div>

</div>
</body>
</html>