<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:fragment="header-css">
	<!-- this is header-css -->
	<link rel="stylesheet" type="text/css"
		href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

	<link rel="stylesheet" th:href="@{/css/main.css}"
		href="../../css/main.css" />
</div>
</head>
<body>
	<div th:fragment="header">
		<!-- this is header -->
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/}"><span class="glyphicon glyphicon-leaf"></span> Spring Boot</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<span sec:authorize="!isAuthenticated()"> 
					   <a class="btn btn-success navbar-btn navbar-right" th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Sign in</a>
					</span> 
					<span sec:authorize="isAuthenticated()">
						<p class="navbar-text navbar-right"><span class="glyphicon glyphicon-user"></span> <span sec:authentication="name"></span></p> 
						<a class="btn btn-danger navbar-btn navbar-right" th:href="@{/logout}"><span class="glyphicon glyphicon-off"></span> Sign out</a>
					</span>
					<!-- <button type="button" class="btn btn-primary navbar-btn navbar-right">Sign in</button> -->
					<ul class="nav navbar-nav">
						<li class="active"><a th:href="@{/}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
						<li class=""><a th:href="@{/about}"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
						<li sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/user}"><span class="glyphicon glyphicon-folder-open"></span> User</a></li>
						<li class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
						
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-dashboard"></span> Admin Management<span class="caret"></span></a>
					          <ul class="dropdown-menu">
					            <li><a th:href="@{/admin?entity=main}">Admin Main</a></li>
					            <li role="separator" class="divider"></li>
					            <li><a th:href="@{/admin?entity=users}">Users Management</a></li>
					            <li><a th:href="@{/admin?entity=roles}">Roles Management</a></li>
					            <li><a th:href="@{/admin?entity=user_roles}">Role Assigment Management</a></li>
					            <li><a th:href="@{/admin?entity=persons}">Persons Management</a></li>
					            <li><a th:href="@{/admin?entity=addresses}">Addresses Management</a></li>
					            <li role="separator" class="divider"></li>
					            <li><a th:href="@{/admin?entity=utils}">Utils</a></li>
					            <li role="separator" class="divider"></li>
					            <li><a th:href="@{/admin?entity=other}">Future Features</a></li>
					          </ul>
				        </li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

</body>
</html>